@font-face {
    font-family: 'camcorder_ms_reg-webfont';
    src: url('./util/CAMCORDER/web_font_files/fonts_CFF/camcorder_ms_reg-webfont.ttf');
}

@font-face {
    font-family: 'camcorder_ms_ol1-webfont';
    src: url('./util/CAMCORDER/web_font_files/fonts_CFF/camcorder_ms_ol1-webfont.ttf');
}

@font-face {
    font-family: 'camcorder_ms_ol2-webfont';
    src: url('./util/CAMCORDER/web_font_files/fonts_CFF/camcorder_ms_ol2-webfont.ttf');
}

@font-face {
    font-family: 'camcorder_ms_inv-webfont';
    src: url('./util/CAMCORDER/web_font_files/fonts_CFF/camcorder_ms_inv-webfont.ttf');
}


.JobsTable {
  font-size: 0.75em;
  font-family: camcorder_ms_reg-webfont, 'Helvetica',sans-serif;
  background-color: #eeff36;
  text-align: center;
  transition: all .5s ease-in-out;
  outline:none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  border: 10px solid #eeff36;
  background-color: #eeff36;
}

table {
  width: 100vw;
  background-color: #eeff36;
  border: 10px solid #eeff36;
}

th {
  border: 10px solid #eeff36;
}

button {
  border: 10px solid #ffd9f7;
  font-size: 0.75em;
  background-color: #ffd9f7;
  font-family: camcorder_ms_inv-webfont, 'Helvetica',sans-serif;
}

.row.react-bootstrap-table-pagination{
  background-color: #ffd9f7;
}

.dropdown-item {
  background-color: #ffd9f7;
}

li {
  display: inline;
  transition: all .5s ease-in-out;
}

ul, li {
  padding-left: 1vw;
  padding-right: 1vw;
  font-size: 0.75em;
  text-shadow: 2px 2px 2px #eeff36;

}

ul.dropdown-menu {
  background-color: #ffd9f7;
  padding-bottom: 20px;
  text-align: center;
  transition: all .5s ease-in-out;
  outline:none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
