@font-face {
    font-family: 'camcorder_ms_reg-webfont';
    src: url('./util/CAMCORDER/web_font_files/fonts_CFF/camcorder_ms_reg-webfont.ttf');
}

@font-face {
    font-family: 'camcorder_ms_ol1-webfont';
    src: url('./util/CAMCORDER/web_font_files/fonts_CFF/camcorder_ms_ol1-webfont.ttf');
}

@font-face {
    font-family: 'camcorder_ms_ol2-webfont';
    src: url('./util/CAMCORDER/web_font_files/fonts_CFF/camcorder_ms_ol2-webfont.ttf');
}

@font-face {
    font-family: 'camcorder_ms_inv-webfont';
    src: url('./util/CAMCORDER/web_font_files/fonts_CFF/camcorder_ms_inv-webfont.ttf');
}


.JobsTable, li, .pagination {
  font-size: 0.75em;
  font-family: camcorder_ms_reg-webfont, 'Helvetica',sans-serif;
  background-color: #eeff36;
  text-align: center;
  transition: all .5s ease-in-out;
  outline:none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  border: 10px solid #eeff36;
  background-color: #eeff36;
}

table, li {
  width: 100vw;
  background-color: #eeff36;
  border: 10px solid #eeff36;

}

th {
  border: 10px solid #eeff36;
}

.pagination, li{
  background-color: #eeff36;
  border: 10px solid #eeff36;
  display: inline;
}

button {
  border: 10px solid #eeff36;
  font-size: 0.75em;
  background-color: #eeff36;
  font-family: camcorder_ms_inv-webfont, 'Helvetica',sans-serif;
}

div.col-md-6 {
  background-color: #eeff36;

}
